.footer {
	float: left;
	width: 100%;
	padding: 15px 0 30px;
	background-color: #272727;
	&__logo {
		float: left;
		width: 35%;
		margin-top: 65px;
		img {
			max-width: 90%;
		}
	}
	&__site-map {
		float: left;
		width: 60%;
		ul {
			padding: 0;
			column-count: 3;
			column-gap: 40px;
			li {
				padding: 10px 0;
				border-bottom: 1px solid #3e3e3e;
				a {
					text: #c0c1c1 16px;
					&:hover {
						color: #FFF;
					}
				}
			}
		}
	}
}
.footer__rules {
	float: left;
	width: 100%;
	position: relative;
	background-color: #111;
	padding: 15px 0;
	ul {
		padding: 0;
		li {
			display: inline-block;
			margin-right: 50px;
			a {
				text: $o underline;
				&:hover {
					text-decoration: none;
					color: darken($o, 10%);
				}
			}
		}
	}
}
.modal{
	width: 20%;
	float: left;
	display: none;
	background-color: #282828;
	z-index: 30;
	position: fixed;
  top: 25%;
  right: 0;
  bottom: 0;
  left: 0;
	border: 5px;
	margin: 0 auto;
	height: 200px;
	overflow-y: hidden !important;
	padding: 30px 50px;
	-webkit-border-radius: 10px;
	        border-radius: 10px;

}


.modal_form{
	width: 100%;
	display: inline-block;
	text-align: center;
	float: none;
}
.form_line__email, .form_line__password{
	width: 100%;
	height: 38px;
	line-height: 38px;
	border-radius: 4px;
	border: none;
	margin: 10px 0;
	background-color: #fff;
	padding-left: 15px;
	box-sizing: border-box;
}
.modal_button{
	height: 28px;
	background-color: #9b9898;
	border-radius: 10px;
	min-width: 50%;
	cursor: pointer;
	border: none;
	line-height: 30px;
	font-size: 19px;
	font-family: $gill;
	text-transform: uppercase;
	color: #fff;
	float: none;
	margin-top: 10px;
}
.regist, .forgot_your_pass{
	width: 50%;
	text-align: center;
	float: left;
	display: inline-block;
	color: #fff;
	font-size: 15px;
	font-family: $gill;
	text-align: left;
	padding: 10px 0;
	box-sizing: border-box;
}
.forgot_your_pass{
	text-align: right;
}
.krest{
	display: block;
	font-size: 35px;
	font-weight: bold;
	position: absolute;
    float: right;
    right: 30px;
    top: 30px;
    z-index: 10;
    opacity: 1;
}
